.container {
    min-height: 50%;
}

.order__block {
    border: 1px solid #fff;
    margin: 10px;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.order__status {
    align-self: center;
}

.order__info p {
    line-height: 1.6em;
}

.empty__orders {
    text-align: center;
    font-size: 1.4em;
}

@media screen and (max-width: 1160px) {
    .order__block {
        flex-direction: column;
    }

    .order__info {
        margin-bottom: 10px;
    }

    .order__status {
        margin-bottom: 20px;
    }
}