.partners {
    height: 500px;
    margin-top: 150px;
}

.partners_head {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-right: 100px;
    margin-top: 100px;
}

.partners_logo {
    margin-left: 200px;
    margin-right: 50px;
    height: 65px;
    width: 65px;
}

.partners_text {
    font-size: 40px;
}

.grid_comp {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.partner__img {
    max-height: 80px;
    width: 150px;
    padding: 10px;
}

.grid_container {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 800px) {
    .partners {
        height: auto;
        margin-bottom: 40px;
    }
    .partners_head {
        margin-right: 0;
    }
    .partners_logo {
        margin-left: 30px;
    }
    .partners_text {
        font-size: 28px;
    }
    .grid_comp {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
    .partner__img {
        max-height: 80px;
        width: 100px;
    }
}