.container {
    margin: 40px 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 500px;
}

.buttons {
    display: flex;
    flex-direction: column;
    border: 1px solid #fff;
}

.btn {
    padding: 15px 30px;
    background-color: black;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    cursor: pointer;
}

.btn:not(.active):hover {
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    color: #000;
}

.changing__side {
    border: 1px solid #fff;
    border-left: none;
    padding: 20px;
    width: 50%;
}

.active {
    background-color: #fff;
    color: #000;
}