footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    height: 150px;
}

.social__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    margin-bottom: 50px;
}

.footer_text {
    margin-left: 10px;
}