.main {
    margin: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #fff;
}

.service {
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid #fff;
}

.service p {
    font-size: 1.2em;
}

.service p strong,
.total__price strong {
    font-size: 1em;
}

/* Аккордион */
.accordionContainer {
    width: 100%;
}

/* Конечная сумма */
.total__order {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.total__price {
    font-size: 1.4em;
}

@media screen and (max-width: 500px) {
    .main {
        margin: 25px;
    }

    .service p {
        margin-inline: 15px;
        font-size: 1em;
        text-align: center;
    }

    .total__order {
        flex-direction: column;
    }

    .total__price {
        margin-bottom: 30px;
    }
}