.main {
    margin: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #fff;
}

.service {
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid #fff;
}

.service p {
    font-size: 1.2em;
}

.service p strong,
.total__price strong {
    font-size: 1em;
}

/* Аккордион */
.accordionContainer {
    width: 100%;
}
.accordionButton {
    color: #fff;
    border-bottom: 1px solid #fff;
    height: 50px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.accordionButtonActive {
    color: #000;
    height: 50px;
    background: rgba(174, 105, 253, 0.75);
    border-bottom: 1px solid #fff;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.componentList {
    list-style: none;
}

.componentItem {
    color: #fff;
    border-bottom: 1px solid #fff;
    padding: 20px 0;
}

.componentItem p {
    margin-left: 30px;
}

.componentItemActive {
    background-color: #fff;
}
.componentItemActive p {
    color: #000;
}

/* Конечная сумма */
.total__order {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.total__price {
    font-size: 1.4em;
}

.btn {
    color: #FFFFFF;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    border-radius: 50px;
    border: none;
    padding: 15px 40px;
    cursor: pointer;
}