.accordionButton {
    color: #fff;
    border-bottom: 1px solid #fff;
    height: 50px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.accordionButtonActive {
    color: #fff;
    height: 50px;
    background: rgba(174, 105, 253, 0.75);
    border-bottom: 1px solid #fff;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.componentList {
    list-style: none;
}

.componentItem {
    color: #fff;
    border-bottom: 1px solid #fff;
    padding: 20px 10px;
}

.componentItem p {
    margin-left: 30px;
}

.componentItemActive {
    background-color: #fff;
}

.componentItemActive p {
    color: #000;
}

.item__div {
    display: flex;
    flex-direction: row;
}

.item__div img {
    max-height: 140px;
    max-width: 230px;
}

@media screen and (max-width: 500px) {
    .item__div img {
        max-height: 70px;
        max-width: 120px;
    }


}