header {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    height: 100px;
    background: none;
}

.nav__list {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.nav__body {
    margin-right: 50px;
}

.logo {
    height: 45px;
    width: 45px;
    margin-left: 50px;
}

@media screen and (max-width: 1040px) {
    .nav__body {
        margin-top: 700px;
        margin-right: 0;
    }

    .nav__list {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
        background: #000;
    }

    .nav {
        position: relative;
        z-index: 2;
        background-color: #000;
        height: 200vh;
    }
}