.about__us {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 600px;
}

.about_us_head {
    font-size: 40px;
}

.about_us_text {
    max-width: 400px;
    margin-top: 50px;
    line-height: 1.7em;
}

@media screen and (max-width: 800px) {
    .about__us {
        flex-direction: column-reverse;
        margin-top: 120px;
        height: 500px;
    }
    .about_us_head {
        margin-left: 20px;
        font-size: 32px;
    }
    .about_us_text {
        margin-right: 20px;
        margin-left: 20px;
    }
    .about__img {
        height: 300px;
        width: 300px;
    }
}